#container {
    border: 1px solid gray;
    background-color: honeydew;
    height: 700px;
}

#header {
    background-color: lightgray;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: 10px;
}

#navBar {
    background-color: lightgray;
    height: 60px;
    display: flex;
    justify-content: center;
    margin: 10px;
}
p {
    display: flex;
    align-self: center;
    font-size: x-large;
}
#leftContent {
    background-color: lightgray;
    width: 20%;
    height: 400px;
    display: flex;
    justify-content: center;
    margin: 10px;
}
#mainContent {
    display: flex;
}
#centerContent {
    background-color: lightgray;
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    margin: 10px;
}