#container {
    border: 1px solid honeydew;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: honeydew;
    height: 720px;
}

#header {
    height: 100px;
}

.flex {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    margin: 10px;
}

#navBar {
    height: 60px;
}

p {
    display: flex;
    align-self: center;
    font-size: x-large;
}
.lfContent {
    width: 20%;
    height: 400px;
}
#mainContent {
    display: flex;
}
#centerContent {
    width: 60%;
    height: 400px;
}
#footer {
    height: 80px;
}